{% extends 'base.html' %}

{% block title %}
    {{todo_list.name}}
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Create A New Item</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
</main>
{% endblock content %}
{% comment %} Final submission {% endcomment %}
